<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Blog Programmation</h5>
          <p class="grey-text text-lighten-4">Vous pouvez utiliser des lignes et des colonnes ici pour organiser le contenu de votre pied de page.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/home">Top</a></li>
            <li><a class="grey-text text-lighten-3" href="/home">Programmation</a></li>
            <li><a class="grey-text text-lighten-3" href="/blog/django">Technologie</a></li>
            <li><a class="grey-text text-lighten-3" href="/blog/django">Developer by SEYDINA-TECH</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright SEYDINA-TECH
      <a class="grey-text text-lighten-4 right" href="#!">Blog pour Apprendre La Nouvelle Technologie</a>
      </div>
    </div>
  </footer>